/* src/FileUpload.css */

.container {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 20px;
}

.upload-section {
  margin-top: 39px;
  background-color: aliceblue;
  height: 90%;
  width: 50%; /* Adjusted to take 70% width */
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc; /* Moved border here */
}

.scan-section {
  margin-top: 39px;
  background-color: aliceblue;
  height: 90%;
  width: 50%; /* Adjusted to take 70% width */
  box-sizing: border-box;
}

.upload-section h3 {
  margin: 0;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.upload-button, .choose-file-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.drop-area {
  border: 2px dashed #007bff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.doc-icon, .check-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

  .home-container-up {
    background-color: var(--primary-color);
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
  }
  
  
  /* Navigation Container */
  .navigation-container {
    width: 30vh;
    background: var(--nav-color);
    padding: 60px;
    overflow-y: auto;
  }
  
  .nav-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    height: 33px;
    color: white;
    font-size: 20px;
    padding: 8px 12px; /* Add padding to give some space around the text */
  }
  
  .nav-option:hover,
  .selected {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: max-content;
  }
  
  .nav-option:hover .nav-icon,
  .selected .nav-icon {
    filter: invert(100%);
  }
  
  .nav-icon,
  .nav-icon-dash {
    width: 20px;
    height: auto;
    margin-right: 10px;
    fill: white;
  }
  
  .nav-icon-dash {
    filter: invert(100%);
  }
  
  /* Main Content */
  .main-content-up {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-color);
    overflow-y: auto;
    overflow-x: hidden;}
  
  .scan-button {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  