.navbar {
  background-color: var(--nav-color);
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure Navbar is above other content */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 80%; /* Adjusted for better responsiveness */
  margin: 0 auto;
}

.navbar-brand {
  font-size: 24px;
  margin-right: 0px;
  margin-left: 185px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px; /* Adjusted for better visual balance */
  margin-right: 10px;
  border: none;
  background-color: #fff;
  border-radius: 5px; /* Added for visual improvement */
}

.search-btn {
  padding: 8px 12px; /* Adjusted for better visual balance */
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
}

.notification-icon,
.settings-icon {
  font-size: 20px;
  color: #fff;
  margin-left: 20px; /* Increased space between icons */
}

.logout-btn {
  display: flex; /* Ensure logout button is treated as a flex item */
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  color: #ccc; /* Change color on hover for better visual feedback */
}

.logout-text {
  margin-left: 5px; /* Adjusted space between icon and text */
}
